
:root{
    --negro:rgb(246, 255, 0);
    --rojo:rgb(4, 228, 56);

}

body{
    background:rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 30%, rgba(0,212,255,1) 70%);
height: 100vh;

}

header{
    border: 221px sol var(--negro);
    height: 10%;
    background: var(--negro);
    background: linear-gradient(90deg, rgba(255,0,185,0.5411414565826331) 40%, rgba(0,212,255,0.6363795518207283) 60%);
box-shadow: 0 5px 10px black}

main{
    height: 300%;
    background-image: url("./imagenes/Reality_Zero_-_Collision_-_Fortnite.webp");
    background-size:contain ;
    background-repeat: no-repeat;
    background-position: top center;/* top es arriba y center es en el centro */
    background-color: var(--rojo);
    background-attachment: fixed; /* es para que se ancle */

    /* sin peso semantico */
}

footer{
    height: 10%;
    background-color: rgb(23, 22, 22);
    font-family: 'Rampart One', cursive ;
    color: aliceblue;
}

div{
    height: 150px;
}